/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

html, body, #root {
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 1.25em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

:root {
    --red: hsl(14, 86%, 42%);
    --rose-900: hsl(14, 65%, 9%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-50: hsl(20, 50%, 98%);
    --green: hsl(159, 69%, 38%);
}

body {
    background: #fafafa;
    font: 400 1rem/1.5 "Red Hat Text", sans-serif;
}

.text-1 {
    font: 700 2.5rem/1.2 "Red Hat Text", sans-serif;
    letter-spacing: 0;
}

.text-2 {
    font: 700 1.5rem/1.25 "Red Hat Text", sans-serif;
    letter-spacing: 0;
}

.text-3 {
    font: 600 1rem/1.5 "Red Hat Text", sans-serif;
    letter-spacing: 0;
}

.text-4 {
    font: 400 1rem/1.5 "Red Hat Text", sans-serif;
    letter-spacing: 0;
}

.text-4-bold {
    font: 600 1rem/1.5 "Red Hat Text", sans-serif;
    letter-spacing: 0;
    color: #000;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    row-gap: 1.5em;
}

#productList {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

#productList img {
    display: block;
    width: 100%;
    border-radius: 1em;
    border: 3px solid transparent;
}

#productList li.selected img {
    border-color: var(--red);
}

#productList li > button,
#productList .cartControlButton {
    width: 11.4375em;
    height: 3.1875em;
    background: #fff;
    margin: -1.5em auto 1em;
    position: relative;
    border-radius: 2em;
    border: 1px solid var(--rose-400);
    font-size: .875em;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 600;
    color: var(--rose-900);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

#productList button span {
    display: block;
    width: 21px;
    height: 20px;
    background: url(/images/icon-add-to-cart.svg) 0 0 no-repeat;
}

#productList .cartControlButton {
    background: var(--red);
    border-color: var(--red);
    color: #fff;
    justify-content: space-between;
    padding: 0 1em;
}

#productList .cartControlButton button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid #fff;
}

#productList .cartControlButton button.decreaseQuantity {
    background: url(images/icon-decrement-quantity.svg) center center no-repeat;
}

#productList .cartControlButton button.increaseQuantity {
    background: url(images/icon-increment-quantity.svg) center center no-repeat;
}

#productList .price {
    color: var(--red);
}

#productList small {
    color: var(--rose-500);
}

#cart {
    background: #fff;
    border-radius: 1.25em;
    padding: 1em 1.5em;
    color: var(--rose-500);
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#cart h2 {
    color: var(--red);
}

#cart #emptyImg {
    width: 8em;
    height: 8em;
    display: block;
    margin: 0 auto;
}

#cart li {
    border-bottom: 1px solid var(--rose-100);
    padding: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cart li button {
    margin-left: auto;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    border: 1px solid var(--rose-400);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartQuantity {
    color: var(--red);
}

.cartLineItem {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.cartLineItem strong {
    color: var(--rose-500);
}

.cartLineItem h3 {
    flex-basis: 100%;
}

#cartTotal {
    display: flex;
    justify-content: space-between;
    color: var(--rose-900);
    align-items: center;
}

#cartFootnote {
    background: var(--rose-50);
    text-align: center;
    border-radius: 1.25em;
    height: 3.25em;
    line-height: 3.25em;
}

#confirmOrder {
    background: var(--red);
    color: #fff;
    height: 3.25em;
    line-height: 3.25em;
    border-radius: 1.25em;
}

@media (min-width: 688px) {
    body {
        background: green;
    }
}

@media (min-width: 1216px) {
    body {
        background: orange;
    }
}